{% load static %}
<header>
    <div class="d-flex flex-wrap align-items-center justify-content-between pb-3 mb-4 border-bottom">
        <a href="{% url 'home' %}" class="d-flex align-items-center text-decoration-none">
            <img src="{% static 'images/blog_pic.png' %}" alt="Blog Logo" width="40" height="40" class="me-2">
            <span class="fs-4 fw-semibold text-dark">Blog Platform</span>
        </a>

        <!-- Navigation -->
        <nav class="nav align-items-center">
            <a class="nav-link px-3 text-dark fw-medium" href="{% url 'home' %}">Home</a>

            <div class="ms-3">
                <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign Up</a>
            </div>
        </nav>

    </div>
</header>