
services:
  web:
    build: .
    command: gunicorn MyBlogApp.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - .:/app
    expose:
      - "8000"
    restart: always


  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./static:/static
    depends_on:
      - web
    restart: always
