{% extends 'base.html' %}
{% load static %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    {% include 'pages/header/header.html' %}
    <div class="container my-5">
        <h2 class="mb-4">Change Password</h2>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_old_password" class="form-label">Current Password</label>
                <input type="password" name="old_password" autofocus required id="id_old_password" class="form-control">
                {% if form.old_password.errors %}
                    <div class="text-danger">
                        {{ form.old_password.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="id_new_password1" class="form-label">New Password</label>
                <input type="password" name="new_password1" required id="id_new_password1" class="form-control">
                {% if form.new_password1.errors %}
                    <div class="text-danger">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="id_new_password2" class="form-label">Confirm New Password</label>
                <input type="password" name="new_password2" required id="id_new_password2" class="form-control">
                {% if form.new_password2.errors %}
                    <div class="text-danger">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>

{% endblock %}