{% extends 'base.html' %}

{% block title %}Create Article{% endblock %}

{% block content %}

    <div class="container my-2">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1 class="fw-bold mb-4">Create Article</h1>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}

                    <div class="form-floating mb-4">
                        {{ form.title }}
                        <label for="{{ form.title.id_for_label }}">
                            Article Title
                        </label>
                        {{ form.title.errors }}
                    </div>

                    <div class="form-floating mb-4">
                        {{ form.category }}
                        <label for="{{ form.category.id_for_label }}">
                            Category
                        </label>
                        {{ form.category.errors }}
                    </div>

                    <div class="mb-3">
                        {{ form.content|safe }}
                        {{ form.content.errors }}
                    </div>

                    <div class="mb-3">
                        {{ form.image.label_tag }}
                        {{ form.image }}
                        {{ form.image.errors }}
                    </div>
                    <button type="submit" class="btn btn-primary">Publish</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
